[defaults]
inventory = inventory/hosts.aws_ec2.yml  # ✅ 동적 인벤토리 파일로 변경
roles_path = ./roles:../roles
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = memory
stdout_callback = yaml
stderr_callback = yaml

[inventory]
# 🔥 핵심 추가! aws_ec2 플러그인 활성화
enable_plugins = amazon.aws.aws_ec2

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes
pipelining = True

#inventory = inventory/hosts.aws_ec2.yml → 동적 인벤토리 파일 지정
#[inventory] 섹션 추가 → enable_plugins = aws_ec2 활성화