prometheus:
  prometheusSpec:
    retention: 10d
    # 스토리지 용량 부여하고 Prometheus Pod 생성 오류
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

grafana:
  enabled: true
  adminUser: "admin"
  adminPassword: "admin"
  
  service:
    type: NodePort
    nodePort: 32000

  persistence:
    enabled: true
    size: 10Gi
    storageClassName: "local-path"

  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'default'
          orgId: 1
          folder: 'K3s Cluster'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default

  dashboards:
    default:
      k3s-cluster-19972:
        gnetId: 19972
        revision: 1
        datasource: Prometheus