---
- name: 05. Setup Monitoring (Prometheus & Grafana)
  hosts: servers
  become: true
  tasks:
    - name: Ensure pip packages for K8s modules are installed
      pip:
        name: 
          - kubernetes
          - PyYAML
        state: present

    - name: Run monitoring role
      include_role:
        name: k3s-monitoring
